services:
  db:
    image: postgres:alpine
    container_name: db
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
  backend:
    build: .
    container_name: backend
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/postgres
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    depends_on:
      - db
    ports:
      - 8080:8080
    expose:
      - 8080
  frontend:
    build: ../frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "5173:5173"
    environment:
      - PORT=5173
      - WATCHPACK_POLLING=true
    stdin_open: true
    tty: true
    volumes:
      - ../frontend:/app:Z
      - /app/node_modules
networks:
  spring-postgres: {}
